*{
    box-sizing: border-box;
}
body{
    font-family: Jost,Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 1.44;
    font-weight: 400;
    color: #888;
    background-color: #1d1b19;
    word-break: break-word;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.2;
    font-family: Jost;
}
/* Menu */
.menu-btn{
    text-align: end;
    padding: 0 27px;
}
.menu-title{
    font-size: 15px;
    color: #888;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}
#popup-button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}
.close-div{
    text-align: end;
}
#close-button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}
#popup-menu {
    display: none;
    position: absolute;
    background-color: #141312;
    padding: 10px;
    width: 30vw;
    height: 100vh;
    top: -50px;
    z-index: 1;
}
#popup-menu ul {
    list-style: none;
}
#popup-menu li {
    padding: 5px;
}
#popup-menu li a{
    text-decoration: none;
    font-size: 28px;
    color: #ddd;
    font-weight: 400;
    line-height: 1.3;
}
#popup-menu li a:hover{
    color: #987750;
}
/* Home */
.container{
    padding: 0 6%;
}
.left-intro{
    padding: 150px 0;
    width: 50%;
}
.intro-title{
    color: #987750;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 54px;
}
.intro-span{
    width: 8rem;
    height: 1.5px;
    background-color: #888;
    display: block;
}
.intro-h1{
    color: #ddd;
    font-size: 35px;
}
.intro-p{
    font-size: 25px;
    line-height: 44px;
    margin-bottom: 57px;
    margin-top: 20px;
    text-align: justify;
}
.right-intro{
    position: relative;
    width: 50%;
}
.fixed{
    position: fixed;
    top: 50px;
    left: 70%;
}
.right-top{
    padding: 10px 0;
    position: relative;
}
.border1,.border2{
    position: absolute;
    left: 0;
    bottom: 20px;
    right: 20px;
    top: 40px;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 2px;
    transition: all .3s ease;
}
.border2{
    left: 20px;
    bottom: 0;
    right: 40px;
    top: 20px;
}
.dev-img{
    position: relative;
}
.dev-img img{
    min-width: 65%;
    max-width: 65%;
    opacity: 0;
    vertical-align: middle;
}
.abs_img{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 40px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.title-holder{
    text-align: center;
    padding: 50px 0px;
}
.title-holder i{
    display: inline;
}
.right-bottom{
    text-align: center;
    padding: 10px 0px;
}
.circle{
    width: 0.7rem;
    height: 12px;
    background-color: green;
    display: inline-block;
    border-radius: 50%;
}
.right-bottom a{
    color: #888;
}
.right-bottom a:hover{
    color: #ddd;
    transition-duration: 0.5s;
}
/* About */
.about-intro{
    padding: 100px 0;
    width: 50%;
}
.about-title{
    color: #987750;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 54px;
}
.about-h1{
    font-family: Jost;
    color: #ddd;
    font-size: 35px;
}
.about-p{
    font-size: 25px;
    line-height: 44px;
    margin-top: 20px;
    text-align: justify;
}